.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}

.home-section img {
  margin-top: 30px;
  width: 240px;
  border-radius: 50%;
}

.home-section h1 {
  text-align: center;
  width: 65%;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
}

.home-section h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-section p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.home-action {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
  color: #fff;
}
.home-action .home-connect {
  padding: 20px 30px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  font-weight: 500;

  border: none;
  color: white;
}

.home-action .home-resume {
  padding: 20px 55px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  background: none;
  color: white;
  font-weight: 500;
}

@media (max-width: 768px) {
  .home-section img {
    margin-top: 50px;
    width: 200px;
  }

  .home-section h1 {
    width: 90%;
    font-size: 35px;
    line-height: 50px;
  }

  .home-section p {
    width: 80%;
    font-size: 16px;
  }

  .home-action {
    gap: 10px;
  }
}
